<mat-progress-bar *ngIf="loading$ | async" mode="indeterminate"></mat-progress-bar>
<div class="view-wrapper">
  <h2 class="view-title">Edit Permission</h2>

  <form [formGroup]="form" fxLayout="column">
    <mat-form-field>
      <input type="text" matInput formControlName="name" placeholder="Name" required />
      <mat-error align="end">
        <mat-error *ngIf="form.get('name').hasError('required')">Field required.</mat-error>
        <mat-error *ngIf="form.get('name').hasError('name')">3 to 50 normal characters.</mat-error>
        <mat-error *ngIf="form.get('name').hasError('notUnique')">This name already exist, choose an unique name.</mat-error>
      </mat-error>
    </mat-form-field>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start">
      <mat-list fxFlex="25" fxLayout="column" fxLayoutGap="25px">
        <h3>All Permissions</h3>
        <mat-divider></mat-divider>
        <mat-radio-group fxLayout="column" fxLayoutGap="25px" formControlName="type">
          <mat-radio-button value="FAV">Full Access Videos</mat-radio-button>
          <mat-radio-button value="ROV">Read Only Videos</mat-radio-button>
          <mat-radio-button value="MU">Manage Users</mat-radio-button>
          <mat-radio-button value="MR">Manage Roles</mat-radio-button>
          <mat-radio-button value="MP">Manage Permissions</mat-radio-button>
        </mat-radio-group>
      </mat-list>
    </div>
  </form>
</div>

<button mat-fab class="fab" (click)="update()" [disabled]="!form.valid">
  <mat-icon>done</mat-icon>
</button>