@import '~@angular/material/theming';
@include mat-core();

// @import 'dark-theme';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
    body {
        font-family: 'Montserrat', sans-serif;
        margin: 0 auto;

        .view-wrapper {
            margin: 25px;
            margin-bottom: calc(64px + 25px);
        }
        
        .fab {
            position: fixed;
            bottom: 42px;
            right: 36px;
            z-index: 100;
        }
        .my-dialog{
            width: 40vw;
            max-width: 450px;
            margin-top: 10vh;

            max-width: 80vw;
            pointer-events: auto;
            width: 40vw;
            position: static;
            margin-top: 10vh;
        }
    }
}